section
    border: 3px solid green
    width: 360px
    height: 400px
    margin: 10px
    padding: 10px

header
    display: flex
    align-items: center
    justify-content: space-between

.image
    height: 100px

.star
    text-align: right

.date
    font-size: 10px

.labels
    display: flex
    justify-content: space-around
    align-items: center

.rgb
    color: blue

.wireless
    color: green

.mechanical
    color: red
.btn-gradient
    text-decoration: none
    color: white
    padding: 10px 30px
    position: relative
    border: 1px solid rgba(0,0,0,0.21)
    border-bottom: 4px solid rgba(0,0,0,0.21)
    border-radius: 4px
    text-shadow: 0 1px 0 rgba(0,0,0,0.15)
    font-size: 12px
    padding: 4px 12px
    background: black

.wireless
    background: rgba(27,188,194,1)

.mechanical
    background: rgba(255,105,30,1)
