<section>
    <header>
        <h2>{{myProduct.title}}</h2>
        <p>Date de sortie : {{myProduct.creationdate}}</p>
    </header>
    <img src={{myProduct.imageURL}} width="100" alt={{myProduct.title}}/>
    <p> Layout : {{myProduct.layout}}</p>
    <p> Nombre de touches : {{myProduct.nbofkeys}}</p>
    <p> Prix : {{myProduct.price}}</p>
    <div class="labels">
        <p class = " btn-gradient rgb" *ngIf="myProduct.isRGB ===true">RGB</p>
        <p class = " btn-gradient wireless" *ngIf="myProduct.isWireless ===true">Wireless</p>
        <p class = "btn-gradient mechanical" *ngIf="myProduct.isMechanical ===true">Mechanical</p>
    </div>
</section>