
<app-header></app-header>
<main>
  <div class="actions">
    <button class="action {{sortdate}}" (click)="onClickSortDate()">Trier par date</button>
    <button class="action {{sortname}}" (click)="onClickSortName()">Trier par nom </button>
    <label class="action" for="search">Recherchez un produit :</label>
    <input class="action" type="text" name="search" id="search"  [(ngModel)]="search">

  </div>
  <div class ="products">
     <app-card-product *ngFor="let product of (products |filterByName:search| sortByDate : sortdate | sortByName : sortname)" [myProduct] = "product"></app-card-product>
  </div>
 
</main>
<app-footer></app-footer>
